* {
    font-family: Pretendard;
    font-style: normal;
}

/* 전체 컨테이너 설정 */
.edit-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #ffffff;
    box-sizing: border-box;
  }
  
  /* 헤더 */
  .edit-profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
  }
  
  .back-icon {
    position: absolute;
    left: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .header-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
  
  .edit-profile-content {
    margin-top: 80px; /* 헤더와 간격 조정 */
    margin-bottom: 56px;
    width: 100%;
    text-align: left;
    position: relative;
  }
  
  /* 프로필 수정 안내 텍스트 */
  .edit-instruction {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 1.4;
  }
  
  /* 프로필 사진 */
  .profile-picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
  }
  
  .profile-edit-icon {
    position: absolute;
    bottom: 0px;
    right: 80px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  /* 이름 입력 필드 */
  .input-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .name-input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1.5px solid #999999;
    padding: 8px 0;
    outline: none;
    margin-bottom: 32px;
    padding-left: 8px;
  }
  
  /* 취소 버튼 */
  .cancel-button {
    position: absolute;
    right: 0;
    transform: translateY(-80%);
    width: 20px;
    height: 20px;
    padding-right: 8px;
    cursor: pointer;
  }
  
  /* 다음 버튼 */
  .next-button {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 312px;
    height: 54px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* 원형으로 만들기 */
    object-fit: cover; /* 이미지 비율을 유지하면서 잘림을 방지 */
  }